<form method='post' action='/guitars'>
	<h2><label for='guitar'>New Guitar:</label></h2>
		<p><input id='guitar' type='text' name='make' placeholder='Make:' ></p>
		<p><input id='guitar' type='text' name='model' placeholder='Model:'></p>
		<p><input id='guitar' type='text' name='year' placeholder='Year:'></p>
	<p><input type='submit' value='submit'></p>
</form>