<h1>Log In</h1>
<form action='/login' method='post'>
	<label for='username'> Name </label>
	<p><input id='username' type='text' name='username'></p>
	<label for='password'> Password </label>
	<p><input id='password' type='password' name='password'></p>
	<input type='submit' value='submit'>
</form>

<p><a href="/signup">Not already a user?</a></p>