<h1>Sign Up</h1>
<form action='/signup' method='post'>
	<label for='username'> Name </label>
	<p><input id='username' type='text' name='username'></p>
	<label for='email'> Email </label>
	<p><input id='email' type='text' name='email'></p>
	<label for='password'> Password </label>
	<p><input id='password' type='password' name='password'></p>
	<input type='submit' value='submit'>
</form>