<form method='post' action='/pedals/<%=@pedal.id%>'>
	<input id='hidden' type='hidden' name='_method' value='patch'>
	<h2><label for='pedal'>Edit Pedal:</label></h2>
		<p><input id='pedal' type='text' name='pedal[make]' value='<%=@pedal.make%>'></p>
		<p><input id='pedal' type='text' name='pedal[model]' value='<%=@pedal.model%>'></p>
		<p><input id='pedal' type='text' name='pedal[year]' value='<%=@pedal.year%>'></p>
	<p><input type='submit' value='submit'></p>
</form>