<form method='post' action='/pedals'>
	<h1><label for='pedal'>New Pedal:</label></h1>
	<ul>
		<li><input id='pedal' type='text' name='make' placeholder='Make:' ></li>
		<li><input id='pedal' type='text' name='model' placeholder='Model:'></li>
		<li><input id='pedal' type='text' name='year' placeholder='Year:'></li>
	</ul>
	<p><input type='submit' value='submit'></p>
</form>