<form method='post' action='/amps'>
	<h2><label for='amp'>New Amp:</label></h2>
		<p><input id='amp' type='text' name='make' placeholder='Make:' ></p>
		<p><input id='amp' type='text' name='model' placeholder='Model:'></p>
		<p><input id='amp' type='text' name='year' placeholder='Year:'></p>
	<p><input type='submit' value='submit'></p>
</form>