<h2>Welcome to the Guitar Collections Website!</h2>
<strong>Here you can create a user and make a personal list of all your
	guitars, pedals, and amps!</strong>
<p></p>
	<p><a href="/login"><img src="http://guitarinternational.com/wp-content/uploads/2012/06/Zakk_Wylde_live_photo_credit_Sakura_rockphotographer.net_Vintage_Rock-_Photos_-_vntagerockphotos.com_.jpg"></a></p>

<h3>Click on Zakk to get started!</h3>