<!DOCTYPE html>
<html>
  <head>
    <title>Guitar Collection</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
	      <ul>
	      	<li><a href="/users/show"> Home </a></li>
	      	<li><a href="/guitars"> Guitars </a></li>
	        <li><a href="/amps"> Amps </a></li>
	        <li><a href="/pedals"> Pedals </a></li>
	        <li><a href="/logout"> Log Out </a></li>
	      </ul>
      <% else %>
        <a href="/signup">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <div class="container">
      <% if !@error.nil? %>
      <div class="alert alert-warning">
        <%= @error %>
      </div>
    <% end %>
      <%= yield %> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>